<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
                  border-radius: 13px;">
    <h3 style="text-align:center;">11. CCTV </h3>
  </div>

  <div style="padding-top:50px">
    <h3>CCTV with Flame Recognition:
    </h3>
    <p>
      Thermal Cameras with embedded fire protection capabilities can detect a fire from a few feet away and up to 4
      miles/6 km away. They are versatile, reliable and contain effective flame and hot spot detection systems which
      enhance the safety and security of infrastructure, equipment and personnel. Popular applications of these fire
      alarm cameras include protecting private property, towns, recycling plants, waste management facilities,
      warehouses, wooded areas, critical infrastructure.
    </p>
    <p>
      <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
        src="../../../../assets/cctv1.jpg" alt="Chania">
    </p>

    <div>
      <h3>CCTV with Face Recognition:

      </h3>
      <p>
        They can identify faces that are difficult to recognise within common video surveillance technology.

      </p>
      <p>These situations include reading faces at an angle of up to 45 degrees to the left or right or 30 degrees up
        or down, with a 90% accuracy rate when detecting faces partially hidden by sunglasses or face masks.
      </p>
      <p>This will help us to get the IN and OUT Report details of People,
      </p>

      <div class="row">
        <div class="col-md-6 col-sm-4">
          <p>
            <img ALIGN="left" style="border:1px solid black;max-height: 500px;margin: 3%" class="img-responsive img-rounded"
              src="../../../../assets/cctv2.jpg" alt="Chania">
          </p>
        </div>
        
        <div class="col-md-6 col-sm-4">
          <p>
            <img ALIGN="right" style="border:1px solid black;max-height: 500px;margin: 3%" class="img-responsive img-rounded"
              src="../../../../assets/cctv3.jpg" alt="Chania">
          </p>
        </div>

        <div class="col-md-6 col-sm-4">
          <p>
            <img ALIGN="right" style="border:1px solid black;max-height: 500px;margin: 3%" class="img-responsive img-rounded"
              src="../../../../assets/CCTV - Hybrid.jpg" alt="Chania">
          </p>
        </div>
      </div>      
    </div>
  </div>
</div>