<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
                border-radius: 13px;">
    <h3 style="text-align:center;">9. Fire Alarm Systems </h3>
  </div>

  <div style="padding-top:50px">
    <h3>
      Fire Alarm Systems - Principle of Operation
    </h3>
    <hr>
    <p>
      <img ALIGN="right" style="border:1px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
        src="../../../../assets/fas.jpg" alt="Chania">
    </p>
    <p>Rarely in the movies do you ever see a Fire Indicator Panel (FIP), more often than not you will see an American
      style 'pull station' - the equivalent of a Manual Call Point or Break Glass Alarm found in Australia.

    </p>
    <p>
      A Fire Indicator Panel (FIP) is probably best described as the 'brains' of a fire detection and alarm system. A
      fire indicator panel comprises control and indicating equipment (c.i.e) that combined together form an integrated
      system. These core components comprise;
    </p>
    <ol>
      <li> Cabinet</li>
      <li> Primary Power Supply Unit & Battery Charger</li>
      <li> Secondary Power (Batteries)</li>
      <li> Control Electronics</li>
      <li> Visual Interface</li>
      <li> Input Interface & Control</li>
      <li> Input Termination & Monitoring</li>
      <li> Output Termination & Monitoring</li>
    </ol>
    <p>The first electric fire alarm and detection system was patented in 1890 by Francis Robbins Upton (U.S. Patent
      no. 436,961 1) although the significant advances were not available until the mid to late 1960?s. Today there are
      essentially two types of fire indicator panel; Collective (commonly known as conventional) and Addressable
      (sometimes known as Analogue Addressable or Intelligent).</p>

    <div>
      <h3>Principle of Operation</h3>
      <hr>
      <p>
        The primary purpose of a fire indicator panel is to monitor each circuit, zone or point for any condition
        (alarm signal or other abnormal condition); display the status of that condition and to operate any required
        output or outputs according to the approved design of the system. These outputs are typically for the purpose
        of warning occupants on a fire alarm signal, notify the fire brigade, control the spread of heat, smoke or
        fire; or used for a wide variety of other purposes.
      </p>
      <p>Before I go any further its important to define a couple of terms used in this article, to provide both
        context and and explanation of their meaning;</p>
      <br>
      <b>Circuit</b>
      <p>A circuit comprises an unbroken path (usually a pair of wires) along which an electric current exists or is
        intended or able to flow. In fire alarm terms this generally means the wiring connecting one or more detectors
        to the fire panel.</p>
      <b>Zone</b>
      <p>A zone is a group of one or more detectors, grouped by their common location or in the case of a collective
        circuit all of the detectors on that circuit. Another way to describe a zone is one of the following;</p>
      <ol>
        <li> one or more detectors on an single collective circuit or;</li>
        <li> one or more detectors, in a common location, defined in software on an addressable circuit.</li>
      </ol>
      <p>Standards also limit the number of detectors a zone may comprise.</p>
    </div>
    <div>
      <h3>Types of systems</h3>
      <p>As previously discussed, there are generally two types of fire alarm systems, Collective and Addressable;</p>
      <p>
        <img ALIGN="right" style="border:1px solid black;max-height: 500px;margin: 3%" class="img-responsive img-rounded"
          src="../../../../assets/fas2.jpg" alt="Chania">
      </p>
      <div>
        <h4>Collective</h4>
        <p>On very simple terms, a collective fire alarm system is one that comprises one or more circuits, with
          detectors connected in parallel. An alarm signal is received at the fire panel when the current on a circuit
          increases due to the alarm operation of one of the detectors on that circuit. In modern detectors there is
          may also be fitted an alarm status indication, often a light emitting diode or LED.</p>
        <p>One of the limitations of a collective systems is that the control panel is unable to identify the status of
          each detector of the circuit. Another way to describe this is that the control panel is only able to display
          the alarm or fault status of a circuit, not each detector on the circuit.</p>
      </div>

      <div>
        <h4>Addressable</h4>
        <p>The alternative is an addressable fire alarm system that comprises one or more circuits with detectors
          connected in parallel, andeach detector has a unique identification (address) on the circuit. When the
          conditions for an alarm signal are satisfied at the detector, an alarm signal is transmitted via the circuit
          to the fire indicator panel.</p>
        <p>In an addressable system, each detector has the ability to identify itself and its current status. Over the
          years, the level of sophistication of detectors and systems has greatly increased. This includes collecting
          more information about the conditions surrounding each detector including the many bi-products of combustion
          and other environmental factors.</p>
        <p>There are many advantages of addressable systems including the ability to more effectively handle
          contamination over time that leads to nuisance (false) alarms, improved detection of fires and the ability to
          identify the precise location of a detector and its current condition or state.</p>
        <p>While we have described the two types of systems there exists variations to these basic types including fire
          panels that include both collective and addressable features. Generally these systems are addressable systems
          with additional c.i.e to provide collective functionality.</p>
      </div>
      <div>
        <h4>Standards for design</h4>
        <p>In Australia there are principally three standards that have been developed over the years that define the integrity, operation, engineering design and construction methods for fire alarm systems. These Australian Standards are;</p>
        <ul>
          <li>	AS1603.4 - Automatic fire detection and alarm systems - Control and indicating equipment</li>
          <li>	AS4428.1 - Fire detection, warning, control and intercom systems - Control and indicating equipment</li>
          <li>AS7240 - Fire Detection and Alarm Systems </li>
        </ul>
        <p>As Australia moves toward the global economy we are more likely to adopt (in principal) international (ISO) standards. AS7240 is an example of this adoption which is leading to visually different fire panels than those we have traditionally seen in use in Australia.</p>
        <p>In the next part of this series we will be focusing on the different types of detectors that are connected to fire panels, including manual call points, heat detectors, smoke detectors and flame detectors. We will also discuss the principal of operation of the different types within each of these categories.</p>
      </div>


      <p>
        <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
          src="../../../../assets/Fire Alarm System - Addressable.jpg" alt="Chania">
      </p>


    </div>
  </div>
</div>