<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
                  border-radius: 13px;">
    <h3 style="text-align:center;">14. Fire Escapes </h3>
  </div>

  <div style="padding-top:50px">
    <div>
      <p>A fire escape is a special kind of emergency exit, usually mounted to the outside of a building or
        occasionally inside but separate from the main areas of the building.
      </p>
      <p>
        It provides a method of escape in the event of a fire or other emergency that makes the stairwells inside a
        building inaccessible. Fire escapes are most often found on multiple-story residential buildings, such as
        apartment buildings. At one time, they were a very important aspect of fire safety for all new construction in
        urban areas; more recently, however, they have fallen out of common use.
      </p>
      <p>This is due to the improved building codes incorporating fire detectors, technologically advanced fire
        fighting equipment, which includes better communications and the reach of fire fighting ladder trucks, and more
        importantly fire sprinklers. The international building codes and other authoritative agencies have
        incorporated fire sprinklers into multi-story building below 15 stories and not just skyscrapers.
      </p>

    </div>

    <div class="row">
      <div class="col-md-6">
        <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
          src="../../../../assets/escape1.png" alt="Chania">
      </div>
      <div class="col-md-6">
        <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
          src="../../../../assets/escape2.png" alt="Chania">
      </div>
    </div>
    <div>
      <h3>
        Escape Chute :
      </h3>
      <p>
        An escape chute is a special kind of emergency exit, used where conventional fire escape stairways are
        impractical. The chute is a fabric (or occasionally metal) tube installed near a special exit on an upper floor
        or roof of a building, or a tall structure. During use, the chute is deployed, and may be secured at the bottom
        by a fire fighting crew some distance out from the building. Once the tube is ready, escapees enter the tube
        and slide down to a lower level or the ground level.
      </p>
      <div class="row">
          <div class="col-md-6">
            <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
              src="../../../../assets/escape3.png" alt="Chania">
          </div>
          <div class="col-md-6">
            <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
              src="../../../../assets/escape4.png" alt="Chania">
          </div>
        </div>
    </div>
  </div>
</div>