<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
                    border-radius: 13px;">
    <h3 style="text-align:center;">12. Rodent Repellent System </h3>
  </div>

  <div style="padding-top:50px">
    <div>
      <p>"Ultrasonic Rodent Repellent" to chase
        rodent, rator mice permanently. These
        units are very compact, safe,
        environmentally friendly and non-
        irritating pest repeller. A total
        revolutionary rodent control unit to
        protect you against any rodent menace!
      </p>
      <p>
        These devices repel insects or are effective
        in rodent control. Rats and mice emit 
        high-pitched sounds and may communicate
        using these sounds. The theory of ultrasonic repellents is to create a sound irritating to rodents, but yet at
        a frequency out of the range of human hearing.
      </p>
      <p>
        <img ALIGN="right" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
          src="../../../../assets/rodent.jpg" alt="Chania">
      </p>
    </div>
    <div>
      <h3>Features:</h3>
      <ul>
        <li>Effective against rats, mice and rodents.
        </li>
        <li>Totally safe for you and the environment. The ultrasonic sound can be heard only by the pest and not by
          human being.
        </li>
        <li>Repellent is eco-friendly, as it does not harm other animals. Nor is there any chance of inhalation of
          harmful chemicals. The pests are not killed. So there is no mess of removing the dead rats / mice etc.
        </li>
        <li>Very economical – Consumes less than 2 units of electricity per month.
        </li>
        <li>Useful any where in the home, office go-downs in food and pharma industries etc.
        </li>
        <li>Units plug into standard 220V AC outlets.
        </li>
        <li>Compact size – innovative tabletop design available.
        </li>
        <li>Will not affect pets like cats, dogs, fish or birds.
        </li>
      </ul>
    </div>

    <div>
      <h3>Applications</h3>
      <ul>
        <li>Banking and Finance
        </li>
        <li>Food and Hospitality
        </li>
        <li>Government Offices
        </li>
        <li>Software Companies
        </li>
        <li>Drugs, Medical Equipment & Pharmaceuticals
        </li>
        <li>Infrastructure Developers & Interior Decorators
        </li>
        <li>Manufacturing Industries
        </li>

      </ul>
    </div>
  </div>
</div>