<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
          border-radius: 13px;">
    <h3 style="text-align:center;">6. Fire Suppression System </h3>
  </div>

  <div style="padding-top:50px">
    <div>
      <p>
        Fire suppression systems are used to extinguish or prevent the spread of fire in a building. Suppression
        systems
        use a combination of dry chemicals and/or wet agents to suppress equipment fires.
      </p>
      <p>
        The Automatic fire suppression systems control and extinguishes fires without human intervention.
      </p>
      <p>
        <img ALIGN="center" style="border:2px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
          src="../../../../assets/fireSppr.jpg" alt="Chania">
      </p>
    </div>

    <div>
      <h3>
        Clean Agent Fire Suppression Systems
      </h3>
      <p>
        Clean Agent Fire Suppression Systems are designed to protect valuable assets in your workplace that would be
        destroyed by conventional sprinkler systems. Our customers utilize clean agent suppression systems in their
        telecommunications facilities, clean rooms, data processing centers and to protect priceless artifacts. No
        costly cleanup is required and some of our systems can be used as a drop-in replacement for Halon systems,
        which means there is no need to change your current piping structure.Basic fire protection systems, such as
        fire sprinklers , provide personal and structural protection. But when it comes to high-value assets and
        equipment or irreplaceable items, water can be just as damaging as fire! -.kellerfire.com
      </p>

      <p>
        Clean Agent Fire Suppression Systems are superior to basic water-based fire protection systems in many ways:
      </p>
      <ul>
        <li>Extinguishes a fire FASTER Than Water</li>
        <li>Is Safe for People</li>
        <li>Requires No Clean-up</li>
        <li>Prevents Smoke and Soot Damage</li>
        <li>Causes No Damage to Your Business Assets -Even High-Value Collectibles </li>
      </ul>
      <p>
        and Irreplaceable Items <br>
        That’s why many companies are choosing Clean Agent Fire Suppression Systems over basic fire protection, such as
        sprinkler systems.
      </p>
    </div>

    <!-- <div>
      <h3>Carbon Dioxide Fire Suppression Systems</h3>
    </div> -->

    <p>
      <img ALIGN="center" style="border:2px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
        src="../../../../assets/Gas Based Fire Suppression.jpg" alt="Chania">
    </p>
  </div>
</div>