<div class="sidenav container" style="color:black">
<br>
  <div class="container " style="background-color:#5f84fb;
      border-radius: 13px;">
    <h3 style="text-align:center;">2. Portable Fire Extinguisher</h3>
  </div>

  <div style="padding-top:50px">
    <div>
      <h3>
        Portable Fire Extinguisher Component
      </h3>
    </div>
    <hr>
    <div>
      <p>
        A portable fire extinguisher by definition is an item of equipment for the purpose of extinguishing a fire. The
        reality is however that a portable fire extinguisher is effective only for the type and size of a fire that it
        is
        ratedfor.
      </p>
      <p>
        Portable fire extinguishers are generally provided as "first attack" units in fire fighting and should be used
        only in early stages of fire before the fire grows to a stage that is beyond the capacity of the extinguisher.
        There are broadly six types of fire extinguisher; Water, Foam, Wet Chemical, Dry Chemical Powder, Vaporising
        Liquid and Carbon Dioxide. The selection of an extinguisher must be made with the class of fire in mind.
      </p>
      <p>
        The first record of a fire extinguisher was patent lodged in 1723 by English scientist Ambrose Godfrey#. In the
        following 300 years there have been literally hundreds of iterations and variations on the basic design for a
        fire extinguisher.1
      </p>
      <p>
        If you distil all of the variations down you will find five components common to almost every type of
        extinguisher manufactured throughout history;
      </p>
      <p>
        <li>
          a storage vessel </li>
        <li> an extinguishing agent</li>
        <li> a propellant (or expellant)</li>
        <li>a valve</li>
        <li>and a directional nozzle</li>
      </p>

      <p>
        Modern fire extinguishers continue to retain these common components, however improvements in technology have
        resulted in improvements to the performance (capacity and rating) of an extinguisher.
      </p>
    </div>

    <div>
      <h3>
        Fire Chemistry
      </h3>
      <hr>
      <p>
        Earlier in this series, we outlined the foundation for fire chemistry. Combustion (fire) is a sequence of
        exothermic chemical reactions between a fuel and an oxidantaccompanied by the by-products of combustion being;
        heat, smoke & electromagnetic radiation (light).
      </p>
      <p>
        There are four elements that contribute to provide the correct environment for a fire to start and be
        sustained. These four elements are; Fuel, Heat, Oxidant, and the Chemical Reaction (Oxidation).
      </p>
      <p>
        The effective removal of any one of these essential elements will result in the fire being extinguished. In
        simple terms, a fire extinguisher works by influencing, eliminating or the ongoing effect of one or more of
        these four elements.
      </p>
    </div>

    <div>
      <h3>
        Classification of fires
      </h3>
      <hr>
      <p>
        Fires are classified according to the type of fuel and if live electrical equipment is present. The
        classification of a fire is important, as it influences the selection and use of the correct extinguisher
        required to extinguish a fire. The six classes of fire are:
      </p>
      <p>
        <li>
          Class A - Ordinary Combustibles (such as paper, wood, plastics, etc.)
        </li>
        <li>
          Class B - Flammable and combustible liquids
        </li>
        <li>
          Class C - Flammable gases
        </li>
        <li>
          Class D - Combustible metals
        </li>
        <li>
          Class E - Electrically energised equipment
        </li>
        <li>
          Class F - Cooking oils and fats
        </li>
      </p>
      <p>
        These classes of fire are also illustrated by a pictogram to assist people quickly identify the type of fire.
      </p>
    </div>
    <div>
      <h3>
        Types of Fire Extinguisher
      </h3> <hr>
      <p>
        As we stated earlier, there are broadly six types of extinguisher; Water, Foam, Wet Chemical, Dry Chemical
        Powder, Vaporising Liquid and Carbon Dioxide. The selection of an fire extinguisher for a given classification
        of a fire is assisted by the colour coding of extinguishers according to their type.
      </p>
      <p>
        Portable fire extinguishers are distinguishable by their labels and their colouring. In 1997 the standard
        colour of portable fire extinguishers changed. From this date, extinguishers supplied to the market are
        required to be painted red or be polished stainless steel. As this change was relatively recent it is still
        common to find extinguishers using both Pre 1997 and Post 1997 extinguisher colour schemes.
      </p>
      <p>There is no one type of fire extinguisher that is universally acceptable for all classes of fire. Careful
        consideration needs to be given to the selection of the most suitable type of fire extinguisher, or combination
        of fire extinguishers for each application.</p>
    </div>

    <div>
      <h3>
        Water Extinguishers (W)
      </h3>
      <p>
        A water based extinguisher also referred to as a Stored Pressure Air-Water fire extinguisher is an extinguisher
        that is filled with water which is stored under pressure (normally by air). These extinguishers are only
        appropriate for use on Class A fires.
      </p>
      <p>
        A water extinguisher is effective because it cools the fire, interrupting the exothermic reaction of a
        self-sustaining fire.
      </p>
      <p>
        A water extinguisher operates when water, stored under pressure and contained within the extinguisher container
        is expelled after the valve, operated by a hand-held trigger is depressed.
      </p>
    </div>

    <div>
      <h3>
        Dry Chemical Powder (DCP)
      </h3>
      <p>
        There are several types of dry chemical powder fire extinguisher, the two main types are;
      </p>
      <p>
        <li>
          ABE Type - Effective on Class, A, B, C & E fires.
        </li>
        <li>
          BE Type - Effective on Class B, E & F fires.
        </li>
      </p>
      <p>
        Note: Special powders are available to extinguish fires involving Class D combustible metals.
      </p>
      <p>
        Dry chemical powder fire extinguishers are effective because they interrupt the oxidation process.
      </p>
      <p>
        Dry-chemical powder is stored under pressure inside the extinguisher cylinder and is expelled when the
        hand-held trigger valve is depressed.
      </p>
    </div>

    <div>
      <h3>
        Air-Foam (AF)
      </h3>
      <p>
        An air-foam extinguisher is applied to either a class A or B fire as either an aspirated (mixed & expanded with
        air in a branch pipe) or non aspirated form to establish a foam blanket or seal over the fuel, preventing
        oxygen reaching it.
      </p>
    </div>

    <div>
      <h3>
        Wet Chemical (WC)
      </h3>
      <p>
        Wet Chemical extinguishers are typically installed in commercial kitchens for the protection from Class F fires
        where the fuel is cooking oils or fats. A wet chemical extinguisher is applied to a fire by forming a soapy
        foam blanket over the burning oil, smothering it and by cooling the oil below its ignition temperature. The
        chemical is expelled as a fine mist that does not cause grease to splash onto other surfaces. A Wet Chemical
        extinguisher may also be safely used in “A” class fires.
      </p>
    </div>

    <div>
      <h3>
        Carbon Dioxide (CO2)
      </h3>
      <p>
        Carbon dioxide fire extinguishers are useful in protecting against fire when an inert, electrically
        nonconductive, gas is desirable and where clean up from the agent must be minimal. Carbon dioxide extinguishers
        contain liquid CO2 that is expelled as a gas. Carbon dioxide blankets a fire, because of its heaviness,
        relative to air. It acts by preventing oxygen from getting to the fire, the result, the burning fuel deprived
        of the oxygen.
      </p>
      <p>
        Carbon dioxide extinguishers are effective against Class “B” and “C” fires. Unlike other chemicals, CO2 does
        not leave a harmful residue and does not adversely affect the environment. It also poses very little danger to
        electronics and is effectively employed in laboratories, computer rooms, and other areas with sensitive
        electrical and electronic equipment.
      </p>
    </div>

    <div>
      <h3>
        Fire Extinguisher Operation
      </h3> <hr>
      <p>
        Fire extinguishers contain an agent that is expelled from the extinguisher help to try and extinguish a fire.
      </p>
      <p>
        The agent in each of the extinguishers explained in this document is stored under pressure. The valve is
        operated when the hand-held trigger is depressed.
      </p>
      <p>
        Some fire extinguishers are also fitted with a pressure gauge that provides a visual indication of the
        extinguishers pressurised state. Gauges may illustrate a numerical value or a colour coded pressure range where
        green illustrates the extinguisher is pressurised and is in a state of readiness.
      </p>
    </div>

    <div>
      <h3>
        Extinguisher Rating
      </h3> <hr>
      <p>
        Fire extinguishers complying with Australian Standards are marked with a classification and rating, determined
        in accordance with Australian Standard AS 1850.
      </p>
      <p>
        Extinguishers are rated by their performance and suitability for a particular class of fire, i.e. a typical
        water extinguisher may be marked 2A and a typical dry chemical extinguisher marked 2A:40B:E.
      </p>
      <p>
        The number before the letter is a measure of the relative performance within the respective class as follows:
      </p>
      <p>
        <li>
          For Class A - Between 0 and 10
        </li>
        <li>
          For Class B - Between 2 and 80
        </li>
        <li>
          For Class F - Between 1 and 4
        </li>
      </p>
      <p>
        The higher the number , the more effective the extinguisher is for the nominated class of fire. When a fire
        extinguisher is rated for more than one class of fire, it is expressed in alphabetical order, i.e. 2A:40B:E.#
      </p>
      <p>
        A common misconception is that two fire extinguishers of equal masss (Kg) or volume (Litres) have the same
        rating. Extinguishers are subjected to a range of standardised tests to determine their suitability and rating,
        in accordance with the requirements of the building Code of Australia and local authorities having
        jurisdiction. The rating of a fire extinguisher is required to be prominently displayed on the side of each
        extinguisher.
      </p>
    </div>

    <div>
      <h3>
        Location and Distribution
      </h3>
      <hr>
      <p>
        Generally the Building Code of Australia as well as various State and Territory legislation establishes the
        selection, location and distribution of fire extinguishers used in the community. Australian Standard AS 2444
        is generally referenced in whole or in part by these legislative documents and provides further details on the
        selection, and location of fire extinguishers. AS 2444 is subordinate to these legislative documents and care
        should be taken when providing advice as to extinguisher requirements based solely on AS 2444.
      </p>
      <p>
        Where required, fire extinguishers should be installed in a conspicuous and readily accessible position,
        supported by a substantial hook or bracket mounted not more than 1.2 metres above the floor (‘hip height’).
      </p>
      <p>
        In addition, portable fire extinguishers should not be located in positions where access could present a hazard
        to a potential user. Where practicable, they should be located along normal paths of travel and near exits.
      </p>
      <p>
        Most fire brigades or authorities having jurisdiction have guidelines for the selection and location of
        portable fire extinguishers to compliment the Building Code of Australia and Australian Standard AS2444.
      </p>
    </div>

    <div>
      <h3> Signage</h3> <hr>
      <p>
        There are two basic types of signage associated with portable fire extinguishers, a red, rectangular sign with
        a white pictorial of a fire extinguisher known as a “Location Sign” and an optional circular identification
        disc, specifying contents and type of fire on which the extinguisher is to be used.
      </p>
    </div>

    <div>
      <h3>The Location Sign</h3> <hr>
      <p>
        The location sign should be positioned directly above the fire extinguisher, the bottom edge of which is not
        less than 2 metres above the floor. (AS 2444:2001 clause 3.3.4).
      </p>
    </div>

    <div>
      <h3>The Identification Sign</h3> <hr>
      <p>
        The optional identification sign should be placed immediately above the fire extinguisher (below the location
        sign).
      </p>
    </div>

    <div>
      <h3>
        Extinguisher Selection Chart
      </h3> <hr>
      <br>
      <b>Using a fire extinguisher</b>
      <p>
        After carefully selecting the correct type of fire extinguisher or combination of extinguishers for the right
        class of fire, a first responder should undertake the following;
      </p>
      <ol type="1">
        <li>Make sure the area is safe to access, the fire should not be either not too large or too hot, and that
          there are no other immediate hazards to safety.</li>
        <li>Contact the fire brigade.</li>
        <li>Choose the correct type of fire extinguisher for the class of fire.</li>
        <li>To use the fire extinguisher follow the acronym PASS - Pull, Aim, Squeeze, Sweep.</li>
        <ol type="a">
          <li>Pull the pin of the fire extinguisher;</li>
          <li>Aim the extinguisher at the base of the fire;</li>
          <li>Squeeze the handle;</li>
          <li>Sweep it back and forth.
          </li>
        </ol>
        <li>After the fire has been extinguished it may reignite. If it is safe to do so, secure another fire
          extinguisher and watch the scene of the fire until the fire brigade arrive.</li>
      </ol>
    </div>

    <div>
      <h3> Maintenance</h3> <hr>
      <p>
        All portable fire extinguishers are subject to periodic inspection, tests and preventative maintenance
        activities in accordance with Australian Standard AS1851. This Standard prescribes specific intervals, criteria
        or events when an extinguisher should be maintained.
      </p>
      <p>
        The frequency of these inspections is recorded on the maintenance record (a yellow tag, securely fixed to the
        fire extinguisher) by stamping or marking a number to represent the maintenance activity performed as follows;
      </p>
      <ol type="1">
        <li>6-Monthly</li>
        <li>Yearly</li>
        <li>5-Yearly</li>
        <li>After Use</li>
      </ol>
      <p>
        As most fire extinguishers are pressure vessels, they may also be required to be discharged, inspected and
        tested by an approved and licensed facility for any condition that is likely to render the vessel dangerous or
        unsafe.
      </p>
    </div>

    <div>
      <h3>
        Summary
      </h3> <hr>
      <p>
        Portable fire extinguishers may be used as the first response to most common classes of fire. In most
        commercial buildings, they are located throughout a building to provide occupants with the facilities to
        respond to a fire in its early stages.
      </p>
      <p>
        In a domestic situation, households should be equipped with both a Dry Chemical Powder, Class AB(E) fire
        extinguisher and a fire blanket.
      </p>
      <p>
        Fire extinguishers require periodic maintenance and should be maintained in accordance with Australian Standard
        AS1851.
      </p>
    </div>

  </div>