<div class="bg">
  <div class="container">
    <div style="color:white;padding-top:3%">
      <h1 style="font-size:60px">We Listen...</h1>
      <h1 style="font-size:60px">We deliver...</h1>
      <h4 style="letter-spacing:4px">We optimize life cycle costs</h4>
    </div>
  </div>

  <div class="container" style="padding:3% 5% 5% 5%">
    <div class="row safety">
      <div class="col-md-6 col-sm-6">
        <div>
          <h1>SAFETY : </h1>
          <div style="padding:0% 0% 0% 1%">
            <h3>
              <li>Fire Alarm System</li>
            </h3>
            <h3>
              <li>Gas based Fire Suppression</li>
            </h3>
            <h3>
              <li>Hydrant System</li>
            </h3>
            <h3>
              <li>Sprinkler System</li>
            </h3>
            <h3>
              <li>High Velocity / Mediun Velocity , Water Spray System</li>
            </h3>
            <h3>
              <li>Fire Extinguishers</li>
            </h3>
            <h3>
              <li>Building Automation</li>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div>
          <h1>SECURITY : </h1>
          <div style="padding:0% 0% 0% 5%">
            <h3>
              <li>Access Control System</li>
            </h3>
            <h3>
              <li>Video Surveillance</li>
            </h3>
            <h3>
              <li>Public Address System</li>
            </h3>
            <h3>
              <li>Water Leak Detection System</li>
            </h3>
            <h3>
              <li>Rodent Repellent System</li>
            </h3>
            <h3>
              <li>Intrusion Detection System</li>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container" style="padding:1% 0% 5% 0%"> -->

</div>