<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
              border-radius: 13px;">
    <h3 style="text-align:center;">8. Gas Detector </h3>
  </div>

  <div style="padding-top:50px">
    <p>Carbon monoxide is a dangerous by-product of a malfunctioning water heater, kerosene
      heater, coal boiler, or any other wood, coal, or petroleum product unit. (It is also the most critical toxic gas
      generated in any structural fire).
    </p>
    <p>
      There have been tragic incidents in which carbon monoxide from such units has resulted in the death of a guest or
      staff. Since carbon monoxide is invisible and has no smell, it cannot be
      detected by natural means.
    </p>

    <div>
        <p>
            <img ALIGN="right" style="border:2px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
              src="../../../../assets/gas.png" alt="Chania">
          </p>
      <p>
          Carbon monoxide is a dangerous by-product
          of a malfunctioning water heater,  kerosene 
          heater, coal boiler, or any other wood, coal, 
          or petroleum product unit.  (It is also the 
          most critical toxic gas generated in any 
          structural fire).
    
      </p>
      <p>
          There have been tragic incidents in which 
          carbon monoxide from such units has  resulted in the death of a guest or 
        staff. Since carbon monoxide is invisible and  has no smell, it cannot be 
        detected by natural means
 
      </p>
    </div>
  </div>
</div>