<div class="sidenav container" style="color:black">
    <br>
    <div class="container " style="background-color:#5f84fb;
                  border-radius: 13px;">
        <h3 style="text-align:center;">10. PA System (Public Address System) </h3>
    </div>

    <div style="padding-top:50px">
        <p>
            Using public address systems as part
            of a mass notification system is the
            only way in which a public address
            system can be used for fire alarm
            notification. A mass notification system
             provides emergency announcements
            and direction to occupants in many
            types of emergencies in addition to 
            fire emergencies.

        </p>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
                    src="../../../../assets/pa.jpg" alt="Chania">
            </div>
            <div class="col-md-6 col-sm-6">
                    <img ALIGN="center" style="max-height: 300px;margin: 3%" class="img-responsive img-rounded"
                        src="../../../../assets/PA System.jpg" alt="Chania">
                </div>

        </div>


    </div>
</div>