<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
                    border-radius: 13px;">
    <h3 style="text-align:center;">13. Water Leak Detection System </h3>
  </div>

  <div style="padding-top:50px">
    <div>
      <p>
        <img ALIGN="right" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
          src="../../../../assets/waterLeak.jpg" alt="Chania">
      </p>
      <p>Nowadays water damage claims
        are on the rise due to faulty
        plumbing materials, failed
        connections, human error and
        burst pipes.
      </p>
      <p>
        Water damage claims more than
        doubling both fire and break-ins
        combined , you should consider
        a complete water leak detection device to protect your home and your belongings.
      </p>
      <p>
        Leak detection system can actually shut off the water when the system senses an excess flow of water beyond a
        pre-set limit.
      </p>

      <p>Water leak monitoring in buildings with sensitive electric and electronic equipment or valuables is today an
        elementary part of building supervision and guarding.
      </p>
      <p>linear water leak detector operates using time-domain reflectrometry. A short pulse (less than 1 millionth of
        a second) is sent down the cable. When a leak is detected, a return pulse is generated (effectively the pulse
        sent out by the controller “bounces” off the leak) to send back an alarm.
      </p>
      <p>
        <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
          src="../../../../assets/waterLeak2.jpg" alt="Chania">
      </p>
    </div>
    <br>
    <div>
      <h3>Features</h3>
      <ul>
        <li>Can detect a leak anywhere along the length of cable
        </li>
        <li>It has self restoring Plug and twist cable
        </li>
        <li>Stand alone and with any building, Fire alarm or Security System
        </li>
        <li>Up to 100 linear feet (30m) per detector
        </li>
        <li>Alarm and Fault Connection
        </li>
      </ul>
    </div>

    <div>
      <h3>Applications</h3>
      <ul>
        <li>Computer Room Subfloors

        </li>
        <li>Water Cooled CRAC Units

        </li>
        <li>Sprinkler Pipes over Sensitive Equipment

        </li>
        <li>Water Based Process Piping

        </li>
        <li>Any Water Based Process or Application

        </li>
        <li>Underground Piping
        </li>
      </ul>
    </div>

    <!-- <b>Videos:</b> -->
    
      
  </div>
</div>