<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
        border-radius: 13px;">
    <h3 style="text-align:center;">3. Fire Hydrant System</h3>
  </div>

  <div style="padding-top:50px">
    <div>
      <h3>
        Fire Hydrant Systems - Principle of Operation
      </h3>
      <hr>
      <p>
        In a building, a fire hydrant system is a safety measure or emergency equipment required in some buildings that
        comprises a series of components that when assembled together provide a source of water to assist fire
        authorities in a fire.
      </p>
      <p>
        Putting it another way, a fire hydrant system is a water supply with a sufficient pressure and flow delivered
        through pipes throughout a building to strategically located network of valves for fire-fighting purposes.
      </p>
      <p>
        In some circumstances, water from a reticulated fire hydrant system can also be shared with other safety
        measures such as automatic fire sprinkler systems or fire hose reels.
      </p>
      <p>
        In Australia, the Building Code of Australia (BCA) sets out the Deemed-to-Satisfy (DtS) provisions for a fire
        hydrant system required in buildings to the degree necessary to facilitate the needs of the fire brigade for;
      </p>
      <ul>
        <li>fire-fighting operations.</li>
        <li>the floor-area of the building</li>
        <li>the fire hazard.</li>
      </ul>
      <p>
        Fire hydrant systems are designed and installed in accordance with Australian Standard AS2419 and comprise the
        following primary components;
      </p>
      <ul>
        <li>Water Supply & Storage</li>
        <li>Pipework & Valves</li>
        <li>Fire Brigade Booster</li>
        <li>Pumpset</li>
        <li>Hydrant, Hydrant Valve or Landing Valve & Coupling</li>
        <li>Layflat Fire Hose</li>
        <li>Block Plan</li>
      </ul>
      <p>
        When designing a fire hydrant system specific performance objectives must be satisfied. These performance
        objectives require a hydraulic analysis to demonstrate there is sufficient water pressure and flow at the most
        hydraulically disadvantaged hydrant. The pressure and flow requirements vary according to the building
        classification, floor area and sprinkler protection.
      </p>
    </div>

    <div>
      <h3>
        System Components
      </h3>
      <hr>
      <h4>
        Water Supply & Storage
      </h4>
      <p>
        A water supply for a fire hydrant system can be derived from a reliable source of water such as; street mains,
        static water supply such as a tank or dam. Water storage must also include a facility for automatic
        replenishment (make-up water) due to losses from evaporation, leakage, periodic testing, etc. The capacity or
        volume of the water supply or storage must also be taken into account as part of the hydraulic analysis.
      </p>
      <h4>
        Pipework & Valves
      </h4>
      <p>
        To direct the water from its point of origin (supply) to its destination (hydrant valve) requires a series of
        interconnected pipes at defined sizes. The dimensions of the pipe is determined by Australian Standard AS2419
        and hydraulic analysis. The the Control valves are used in combination with the pipework to control an direct
        the flow of water.
      </p>
      <h4>
        Fire Brigade Booster
      </h4>
      <p>
        The booster assembly provides a point of attachment for the fire brigade to provide additional water to a fire
        hydrant system in in the event of an emergency. The location of the fire brigade booster should be chosen to
        ensure that it is readily accessible and provide protection to fire-fighters. A booster is typically mounted in
        a cabinet that includes details of the pressure limitations and requirements for the fire hydrant system.
      </p>
      <h4>
        Booster Pumpset
      </h4>
      <p>
        In some circumstances where the a hydraulic analysis has determined that the water supply is insufficient for
        the building requirements, one or more booster pumpsets may be required. A pumpset may comprise a combination
        of electric or compression ignition (diesel) motors.
      </p>
      <h4>
        Hydrant
      </h4>
      <p>
        The end-point of a fire hydrant system is the Hydrant (also known as a Hydrant Valve, Landing Valve or
        Millcock) strategically located throughout a building in accordance with the provisions of AS2419. The nominal
        diameter for a hydrant valve connection is 65mm. The connection for a fire hose varies throughout Australia
        according to the local fire authority. In simple terms fire brigades throughout Australia use different hose
        connections. In these cases, the Hydrant must also be fitted with a connection or coupling compatible with the
        local fire brigade. Care must be taken to ensure each fire hydrant is readily accessible and has sufficient
        clearance to satisfy the requirements of the AS2419.
      </p>
      <h4>
        Layflat Fire Hose
      </h4>
      <p>
        Some buildings may also require as part of the approved design the installation of ancillary equipment such as
        a layflat fire hose. A layflat fire hose is manufactured in accordance with Australian Standard AS2792 is a
        flexible hose and nozzle that may be connected to a hydrant.
      </p>
      <h4>
        Block Plan
      </h4>
      <p>
        A fire hydrant system block plan is a indelible diagram mounted within the booster cabinet, pump room and fire
        control room that illustrates the primary features of the fire hydrant system including the water supply
        location & dimensions, location & capacity of each water storage or tank, location & quantity of each valve,
        location of each pump, pressure & flow rating of the pumps, location of the main electrical control room,
        location of all flammable storage areas, year of installation, installing contractors name, the height of the
        highest fire hydrant and the lowest booster connection.
      </p>
    </div>

    <div>
      <h3>
        Typical Operation
      </h3>
      <hr>
      <p> Under normal circumstances, a fire hydrant system is pressurised with water ready for emergency use. When a
        hydrant valve is opened, the system experiences a drop in water pressure.</p>
      <p>The drop in water pressure is detected by a pressure switch which in turn starts the booster pump(s), drawing
        water from the water supply to increase the water pressure of the system.</p>
      <p>Water from the hydrant is then directed through the layflat fire hose to a nozzle which is then directed to
        the seat of a fire.</p>
      <p>During a fire the fire brigade may provide additional water and boost the water pressure to satisfy the
        demands of the fire hydrant system. This is carried out by connecting a fire appliance (truck) between an
        alternate water supply and the booster connection.</p>
    </div>

    <div>
      <h3>Maintenance</h3>
      <p>Fire hydrant systems require periodic inspections, tests and survey to determine the system is operating and
        is maintained in a state that enables it to fulfil its purpose. Australian Standard AS1851 sets out the
        requirements for the maintenance and Australian Standard AS2419 sets out the minimum requirements for the
        operation of the operation of the system.</p>
      <p>Fire hydrant systems are an active fire protection system that is installed as part of an overall strategy for
        the protection of life within a building. The Building Code of Australia sets out the deemed-to-satisfy
        requirements for safety measures (including fire hydrant systems) that in buildings. Other active fire
        protection systems include automatic fire sprinkler systems, fire hose reels, fire detection & alarm systems,
        and the smoke and heat control measures of mechanical ventilation systems.</p>
    </div>

    <p>
      <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
        src="../../../../assets/Fire Hydrant System.jpg" alt="Chania">
    </p>

    <b>Videos:</b>
    <div class="row">
      <div class="u-tube col-md-6 col-sm-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/osyyLey5ipU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="u-tube col-md-6 col-sm-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XxAhrF7KZuE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>