<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
                    border-radius: 13px;">
    <h3 style="text-align:center;">15. Safety Measures</h3>
  </div>

  <div style="padding-top:50px">
    <div>
      <p>Apart from the training needs it is necessary to follow certain precautions and alertness while fire is on.
        Where ever the height of your building, ensure you follow some basic precautions:
      </p>
      <p>Remember to call 100, 101,102,103 (Police, Fire, Ambulance, & Traffic Police)
      </p>
      <p>Do not allow encroachments or storage in courtyards, open courtyards are needed for placing & operating fire
        and rescue appliances,
      </p>
      <p>Do not allow storage or obstruction in the common corridors and staircases
      </p>
      <p>Do not allow the fire door of staircases to be kept open
      </p>
      <p>Use staircase not lift, in case of fire as lifts may fail, trapping people inside.
      </p>
      <p>Do not allow refuge area to be enclosed or misused.
      </p>
      <p>Do not reenter the fire affected building to collect valuables or for other purposes.
      </p>
      <p>Do not allow fire fighting tanks to be misused or remain empty
      </p>
      <p>Do not switch off the fire or smoke detection system.
      </p>
      <p>Do not switch off electricity of entire building in the event of fire. This will also stop all the fire
        protection and fire fighting systems installed within.
      </p>
    </div>

    <div class="row">
        <div class="col-md-6">
          <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
            src="../../../../assets/safety1.png" alt="Chania">
        </div>
        <div class="col-md-6">
          <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%;background-color:black" class="img-responsive img-rounded"
            src="../../../../assets/safety2.png" alt="Chania">
        </div>
      </div>

  </div>
</div>