<div class="sidenav container" style="color:black">
  <br>
  <div class="container " style="background-color:#5f84fb;
            border-radius: 13px;">
    <h3 style="text-align:center;">7. Smoke Detector </h3>
  </div>

  <div style="padding-top:50px">
    <p>
      Smoke or heat detection units are required by an increasing number of
      local jurisdictions. Regulations vary from those only requiring smoke and/or heat
      detectors in corridors, storerooms, and under stairways to those requiring full
      systems that provide protection in every guest room, guest bathroom, public area and back-of-the-house location

    </p>
    <p>
      Smoke and heat detection units also vary in their characteristics some have the ability to report a heat build up
      prior to evidence of smoke or flame, while others respond only to smoke and other products of combustion.
    </p>
    <p>
      Automated systems, which integrate all smoke detectors in each location with a master panel, permit staff to
      immediately determine where a smoke detector has activated and to respond accordingly.
    </p>
    <br>

    <div>
      <h4>What is smoke?</h4>
      <p>Smoke is the collection of airborne solid and liquid particulates and gases emitted when a material undergoes
        combustion, mixed with the quantity of air that is mixed into the particulate mass.</p>
      <p>Smoke particulates are generally grouped in three particle sizes. Depending on particle size, smoke can be
        visible or invisible to the naked eye.</p>
    </div>

    <div>
      <h3>
        Operation of Smoke Detectors
      </h3>
      <hr>
      <p>Americium-241 emits alpha particles and low energy gamma rays. The alpha particles are absorbed within the
        detector, while most of the gamma rays escape harmlessly. The americium is present in oxide form in the
        detector.</p>
      <p>The alpha particles emitted by the Am-241 collide with the oxygen and nitrogen in air in the detector's
        ionisation chamber to produce charged particles called ions. A low-level electric voltage applied across the
        chamber is used to collect these ions, causing a steady small electric current to flow between two electrodes.
        When smoke enters the space between the electrodes, the alpha radiation is absorbed by smoke particles. This
        causes the rate of ionisation of the air and therefore the electric current to fall, which sets off an alarm.</p>
      <p>The alpha particles from the smoke detector do not themselves pose a health hazard, as they are absorbed in a
        few centimetres of air or by the structure of the detector.</p>
      <p>The radiation dose to the occupants of a house from a domestic smoke detector is essentially zero, and in any
        case very much less than that from natural background radiation. The small amount of radioactive material that
        is used in these detectors is not a health hazard. On the other hand, the ability of domestic smoke detectors
        to save life and property has been demonstrated in many house fires.</p>
      <p>Even swallowing the radioactive material from a smoke detector would not lead to significant internal
        absorption of Am-241, since the dioxide is insoluble. It will pass through the digestive tract, without
        delivering a significant radiation dose. (Americium-241 is however a potentially dangerous isotope if it is
        taken into the body in soluble form. It decays by both alpha activity and gamma emissions and it would
        concentrate in the skeleton.)</p>
    </div>

    <div>
      <h3>
        Five types of Smoke Detector
      </h3>
      <hr>
      <p>
        Recently I updated our internal training module titled "Smoke Detectors 101". These training modules are
        available only to Maintenance Essentials employees and official Partners. <br>
        Each of these training modules are bite sized and designed to be easily read in about 30 minutes.
      </p>

      <ol type="1">
        <li>
          <h4>Ionisation smoke detector</h4>
        </li>
        <p>An Ionization smoke detector consists of the following main components;</p>
        <ul>
          <li> radioactive source, usually Americium-241 that emits alpha particles</li>
          <li> a ionization chamber, an air-filled space between two electrodes</li>
        </ul>
        <p>The alpha particles pass through the ionization chamber, and permit a small, constant electric current
          between the electrodes.</p>
        <p>Smoke particles that enter the chamber absorbs the alpha particles, which interrupts the electric current,
          activating an alarm.</p>
        <li>
          <h4>Photo-electric smoke detector</h4>
        </li>
        <p>An photo-electric smoke detector is a scattered light sensor or nephelometer, that consists of the following
          main components;</p>
        <ul>
          <li> a light source</li>
          <li> a lens to focus light into a projected beam</li>
          <li> a sensor at an angle to the beam as a light sensor</li>
        </ul> <br>
        <p>
          In the absence of smoke, light passes in front of the sensor in a straight line. <br>
          When smoke enters the optical chamber across the path of the light beam, some light is scattered by the smoke
          particles, directing it at the sensor and thus triggering the alarm.
        </p>
        <li>
          <h4>Projected beam smoke detector</h4>
        </li>
        <p>An projected beam optical smoke detector operates on the principle of light obscuration and comprises;</p>
        <ul>
          <li> A projected beam transmitter & lens</li>
          <li> A light receiver</li>
          <li> A light reflector (not in all cases)</li>
        </ul>
        <p>
          The light transmitter emits an invisible beam of light that is received by a receiver in a normal condition.
        </p>
        <p>The receiver is calibrated to a preset sensitivity level based on a percentage of total obscuration. When
          smoke obscures the beam, an alarm signal is activated.</p>
        <li>
          <h4>Aspirating smoke detector</h4>
        </li>
        <p>
          An aspirating smoke detector is a very sensitive light sensor or nephelometer, that works by actively drawing
          a sample of air and other contaminates through a pipe network into a sensing chamber and consists of the
          following main components;
        </p>
        <ul>
          <li> a network of small-bore pipes</li>
          <li> a particulate filter</li>
          <li> a sensing chamber</li>
          <li> a focused light source</li>
          <li> a sensitive light receiver</li>
        </ul>
        <p>When smoke enters the sensing chamber across the path of the light beam, some light is scattered or obscured
          by the smoke particles, which is detected by the sensor. The output is analogue and can trigger multiple
          alarms.</p>
        <li>
          <h4>Video smoke detection</h4>
        </li>
        <p>
          Video Smoke Detection (VSD) is based on the computer analysis of video images provided by standard video
          (CCTV) cameras.
        </p>
        <p>A video smoke detection system comprises the following components;</p>
        <ul>
          <li>one or more video cameras</li>
          <li> a computer</li>
          <li>software to analyse the video signal</li>
        </ul>
        <br>
        <p>The computer uses specialised software to identify the unique motion and pattern of smoke. This unique
          signal when identified triggers an alarm.</p>
      </ol>
    </div>

    <div class="u-tube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/pcn7MDpoZrY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    

  </div>
</div>