::selection {
    background-color: #b5e2e7;
  }
  
  ::-moz-selection {
    background-color: #8ac7d8;
  }
  
  body {
    background: #3CC;
  }
  
  .container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
  }
  
  #logbox {
    padding: 10px;
    margin: 50px auto;
    width: 340px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    height: auto;

  }
  
  h1 {
    text-align: center;
    font-size: 175%;
    color: #757575;
    font-weight: 300;
  }
  
  h1, input {
    font-family: "Open Sans", Helvetica, sans-serif;
  }
  
  .input {
    width: 75%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
  }
  .input:focus {
    outline: none;
    border-bottom-color: #3CC !important;
  }
  .input:hover {
    border-bottom-color: #dcdcdc;
  }
  .input:invalid {
    box-shadow: none;
  }
  
  .pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
  
  .inputButton {
    position: relative;
    width: 87%;
    height: 50px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color:#04457B; /* #3CC; */
    border: none;
    -webkit-box-shadow: 0 5px 0 #2CADAD;
    -moz-box-shadow: 0 5px 0 #2CADAD;
    box-shadow: 0 5px 0 #2CADAD;
  }
  .inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #2CADAD;
    -moz-box-shadow: 0 3px 0 #2CADAD;
    box-shadow: 0 3px 0 #2CADAD;
  }
  .inputButton:active {
    top: 5px;
    box-shadow: none;
  }
  .inputButton:focus {
    outline: none;
  }

  /* #modified */
  .inp-grp-padd{
    padding: 0px 20px 0px 20px;
  }
  .inp-icon{
    color:	#04457B;
  }
  .pass-rec-align{
    text-align:center;padding-left: 5px;
  }
  .pass-rec-align>a{
    padding-left:5px
  }
  .acc-rec-align{
    text-align:center;padding-left: 18px;
  }
  .privacy-title{
    text-align: center;color: #04457B;
  }
  .privacy-body-bord{
    overflow:scroll;
    height: 400px;
    border: 1px solid #04457B;
    background-color: rgb(234, 237, 239);
    padding: 10px;
    margin: 15px;
  }

 

  /* .shake {
    animation: shake 0.30s infinite alternate-reverse;
}

@keyframes shake {
    0% {
        transform: translateX(-2.5px);
    }
    100% {
        transform: translateX(2.5px)
        ;
    }
} */
  /* .shake {
    animation-name: shake;
  }
  @keyframes shake {
    from,
    to {
      transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate3d(10px, 0, 0);
    }
  } */
  
  