<div class="sidenav container" style="color:black;background-color: white">
  <br>
  <div class="container " style="background-color:#5f84fb;
        border-radius: 13px;">
    <h3 style="text-align:center;">1. INTRODUCTION</h3>
  </div>


  <div style="padding-top:50px">

    <h3>Fire Safety</h3>
    <hr>
    <div>
      <p>
        <b> Fire safety </b> is the set of practices intended to reduce the destruction caused by fire. Fire safety
        measures
        include those that are intended to prevent ignition of an uncontrolled fire, and those that are used to limit
        the development and effects of a fire after it starts.</p>

      <p>Fire safety measures include those that are planned during the construction of a building or implemented in
        structures that are already standing, and those that are taught to occupants of the building.</p>

      <p>Threats to fire safety are commonly referred to as fire hazards. A fire hazard may include a situation that
        increases the likelihood of a fire or may impede escape in the event a fire occurs.</p>
      <p>Fire safety is often a component of building safety. Those who inspect buildings for violations of the Fire
        Code and go into schools to educate children on Fire Safety topics are fire department members known as Fire
        Prevention Officers. The Chief Fire Prevention Officer or Chief of Fire Prevention will normally train
        newcomers to the Fire Prevention Division and may also conduct inspections or make presentations.</p>
    </div>
    <div>
      <h3>
        Elements of a fire safety policy:
      </h3>
      <hr>
      <p>Fire safety policies apply at the construction of a building and throughout its operating life. Building codes
        are enacted by local, sub-national, or national governments to ensure such features as adequate fire exits,
        signage, and construction details such as fire stops and fire rated doors, windows, and walls. Fire safety is
        also an objective of electrical codes to prevent overheating of wiring or equipment, and to protect from
        ignition by electrical faults.</p>
      <p>Fire codes regulate such requirements as the maximum occupancy for buildings such as theatres or restaurants,
        for example. Fire codes may require portable fire extinguishers within a building, or may require permanently
        installed fire detection and suppression equipment such as a fire sprinkler system and a fire alarm system.</p>
      <p>
        Local authorities charged with fire safety may conduct regular inspections for such items as usable fire exits
        and proper exit signage, functional fire extinguishers of the correct type in accessible places, and proper
        storage and handling of flammable materials. Depending on local regulations, a fire inspection may result in a
        notice of required action, or closing of a building until it can be put into compliance with fire code
        requirements.
      </p>
      <p>Owners and managers of a building may implement additional fire policies. For example, an industrial site may
        designate and train particular employees as a fire fighting force. Managers must ensure buildings comply with
        fire evacuation regulations, and that building features such as spray fireproofing remains undamaged. Fire
        policies may be in place to dictate training and awareness of occupants and users of the building to avoid
        obvious mistakes, such as the propping open of fire doors. Buildings, especially institutions such as schools,
        may conduct fire drills at regular intervals throughout the year.</p>
    </div>

    <div>
      <h3>
        Some Common fire hazards:
      </h3>
      <hr>
      <ul>
        <li>Kitchen fires from unattended cooking, grease fires/chip pan fires</li>
        <li>Electrical systems that are overloaded, poorly maintained or defective</li>
        <li>Combustible storage areas with insufficient protection</li>
        <li>Combustibles near equipment that generates heat, flame, or sparks</li>
        <li>Candles and other open flames</li>
        <li>Smoking (Cigarettes, cigars, pipes, lighters, etc.)</li>
        <li>Equipment that generates heat and utilizes combustible materials</li>
        <li>Flammable liquids and aerosols</li>
        <li>Flammable solvents (and rags soaked with solvent) placed in enclosed trash cans</li>
        <!-- <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li> -->

      </ul>
    </div>
    <div>
      <!-- <p>
            <img ALIGN="center" style="border:1px solid black;max-height: 300px;margin: 3%" class="img-responsive img-rounded"
              src="../../../../assets/plan.jpg" alt="Chania">
          </p> -->
    </div>

    <div>
      <h3>
        Fire Security / Protection
      </h3>
      <hr>
      <p> <b> Fire protection </b> is the study and practice of mitigating the unwanted effects of potentially
        destructive fires.[1] It involves the study of the behaviour, compartmentalisation, suppression and
        investigation of fire and its related emergencies, as well as the research and development, production, testing
        and application of mitigating systems. In structures, be they land-based, offshore or even ships, the owners
        and operators are responsible to maintain their facilities in accordance with a design-basis that is rooted in
        laws, including the local building code and fire code, which are enforced by the Authority Having Jurisdiction.</p>
      <p>

        Buildings must be constructed in accordance with the version of the building code that is in effect when an
        application for a building permit is made. Building inspectors check on compliance of a building under
        construction with the building code. Once construction is complete, a building must be maintained in accordance
        with the current fire code, which is enforced by the fire prevention officers of a local fire department. In
        the event of fire emergencies, Firefighters, fire investigators, and other fire prevention personnel are called
        to mitigate, investigate and learn from the damage of a fire. Lessons learned from fires are applied to the
        authoring of both building codes and fire codes.</p>

    </div>

    <div>
      <h3>
        Classifying fires
      </h3>

      <table style="width:100%">
        <tr>
          <th>Type of Fire</th>
          <th>Asia</th>
        </tr>
        <tr>
          <td>Fires that involve flammable solids such as wood, cloth, rubber, paper, and some types of plastics.</td>
          <td>Class A</td>

        </tr>
        <tr>
          <td>Fires that involve flammable liquids or liquefiable solids such as petrol/gasoline, oil, paint, some
            waxes & plastics, but not cooking fats or oils</td>

          <td>Class A</td>

        </tr>
        <tr>
          <td>Fires that involve flammable gases, such as natural gas, hydrogen, propane, butane</td>
          <td>Class A</td>

        </tr>
      </table>
    </div>

    <!-- <li>
      Hotel fires represent a major risk to people’s safety, the hotel property and business continuity.
    </li>
    <br>
    <li>
      It is the hotel owner’s primary concern that guests enjoy their stay: but besides offering first-rate service,
      this also includes ensuring maximum safety.
    </li>
    <br>
    <li>
      Fire incidents not only result in financial losses, they can also severely damage a hotel’s reputation.
    </li>
    <br>
    <li>
      Fire safety is a subject connected not only with human and property safety but is related with design of
      buildings and their services.
    </li>
    <br>
    <li>
      Fire protection measures, both in residential buildings and in commercial/ industrial complexes, have assumed a
      great role in recent years in our country.
    </li>
    <br>
    <li>
      Fire safety is therefore a long-term investment that must be carefully planned to ensure the continued success
      of
      the hotel.
    </li> -->
    <div class="u-tube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/om8TNeXexu0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>